<!DOCTYPE html>
<html>
  <head>
    <title>Tapestry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/cc3d99e400.js" crossorigin="anonymous"></script>
    <%= yield :head %>
  </head>

  <body class="bg-amber-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
      <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
      <div class="max-w-3xl mx-auto">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
